* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    /* colours */
    --purple: #651b20;
    --white: white;
    --main: #fae2bc;
    --hover: white;
    --text: black;

    /* fonts */
    --reading: "Calibri";
    --headings: "Centaur";
    --weclome: "Edwardian Script ITC";
}

/* header */
/* Create a top navigation bar with a black background color  */

.topnav {
    background-color: var(--main);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px 15px;
    text-decoration: none;
    font-size: 17px;
    color: var(--text);
    font-family: var(--reading);
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--hover);
    color: var(--text);
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: left;
    color: white;
}

.responsiveImg {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/*image*/
.logo1 {
    display: flex;
    width: 45%;
    height: auto;
}

/*end of the header*/

/*body*/

.wrapper {
    height: 80%;
    width: 70%;
    background-color: #fae2bc;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    grid-gap: 22px;
    margin-top: 50px;
}

.wide-image {
    grid-column: span 2;
}

.wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    background-image: url('../images/Long-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer {
    bottom: 0;
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-family: var(--reading);
    font-size: 16px;
    margin-right: 30px;
    margin-left: 30px;
}